@tailwind base;
@tailwind components;
@tailwind utilities;
.three-canvas-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none; /* so clicks pass through */
}
.glow {
  text-shadow: 0 0 10px #00ffae, 0 0 20px #00ffae, 0 0 40px #00ffae;
}
